.form-up .enddiv{
    text-align: left;
    padding: 8px 10px;
    outline: none;
    border: 2px solid green;
    border-radius: 3px;
    position: relative;
    width: 440px;
    height: 88px;
}

input.enddiv::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}
@media (max-width:1300px){
    .enddiv{
    width: 445px;
    height: 70px;
    text-align: center;
}
}
.form-up{
    height: 80%;
    width: 30%;
}
.form-input{
    width: 214px;
    height: 44px;

}
@media (max-width: 480px){
.form-up .enddiv {
    width: 214px;
    height: 44px;
}
body{
    overflow-x:hidden;
}
.social-links{
    display: none;
    opacity: 0;
}
}
.container1 {
        max-width: 100%;
}
.paddingLeft{
    padding: 0px 12px;
}
.paddingSlide{
    padding: 0px 30px;
    position: relative;
    bottom: 40px;
}
.paddsection .text-center{
    padding-top: 26%;
}